{
  "root": true,
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    // "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "rules": {
    "strict": ["error", "never"],
    "@typescript-eslint/no-var-requires": 0
    // "valid-typeof": "warn", // error
    // "no-console": 0,
    // "no-unused-vars": "error",
    // "no-unsafe-negation": "error",
    // "no-unexpected-multiline": "error",
    // "no-undef": "error"
  },
  "env": {
    "browser": false
  }
}

// "lint": "eslint . --ext .ts",
